{% extends 'adminlte/base.html' %}
{% load i18n static %}

{% block body_class %}
  login-page
{% endblock %}

{% block body %}
  <div class="login-box">
    <div class="card card-outline card-primary">
      <div class="card-header text-center">
        <h5 class="font-weight-bold">Password reset</h5>
      </div>
      <div class="card-body">
        <p class="login-box-msg">
            Forgotten your password?<br/> Enter your username below, and we’ll email instructions for setting a new one.<br></p>
        <form action="{% url 'auth:forgot_password' %}" method="post">

          {% csrf_token %}
                        
          {% block login_errors %}
            {% if msg %}
                    <p class="errorlist">Error : {{ msg }}</p>
            {% endif %}
            {% endblock login_errors %}
          <div class="input-group mb-4 mt-4">
            <input type="text" name="username" class="form-control username" placeholder="Username..." required />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12 text-center">
              <button type="submit" class="btn btn-primary btn-block">Submit</button>
              <a href="/" class="btn btn-sm btn-block btn-secondary mt-2" role="button">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

