{% extends 'adminlte/base.html' %}
{% load i18n static %}

{% block body_class %}
  login-page
{% endblock %}

{% block body %}
  <div class="login-box">
    <div class="card card-outline card-primary">
      <div class="card-header text-center">
        <h5 class="font-weight-bold">Change Password</h5>
      </div>
      <div class="card-body">
        <p class="login-box-msg">
        {% if request.user.is_password_changed %}
          Change your account password !!
        {%else%}
          You have not changed your default password.<br><span class="text-danger"> Please, change your password first !!.</span></p>
          {%endif%}
        <form action="{% url 'auth:password_change' %}" method="post">

          {% csrf_token %}
                        
          {% block login_errors %}

          {% if msg %}
                <p class="errorlist">Error : {{ msg }}</p>
          {% endif %}
        {% endblock login_errors %}
          <div class="input-group mb-3">
            <input type="password" name="password" class="form-control password" placeholder="Password" required />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" name="confirm_password" class="form-control password" placeholder="Confirm Password" required />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>

          <div class="row ml-2">
            <div class="check-primary">
              <div class="col-md-12 mb-2">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="toggle" id="toggle">
                    <label class="form-check-label" for="toggle">Show Password</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 text-center">
              <button type="submit" class="btn btn-primary btn-block">Change password</button>
              <a href="/" class="btn btn-sm btn-block btn-secondary mt-2" role="button">Cancel</a>
            </div>
          </div>
        </form>
        <p class="mt-3 mb-1 text-center">
        </p>
      </div>
    </div>
  </div>
  <!-- /.login-box -->
{% endblock %}

{% block js %}
  <script type="text/javascript">
    $('#toggle').click(function () {
      var input = document.getElementsByClassName('password')

      $.each(input,function(index,itm){
        if (itm.type === 'password') {
          itm.type = 'text'
        } else {
          itm.type = 'password'
        }
      })
    
    })
  </script>
{% endblock %}
