<div class="row">
    <div id="header" style="text-align: center;">
            <img src="https://www.nou.edu.np/uploads/images/1648535883.png">
        </div>
        <h3 style="padding-left:10px;">Dear {{ user.username }},</h3>
        
            <div style="background-color: #f9f9f9; padding:10px 10px; font-size:15px;">
                <p style="font-size:15px;">You're receiving this email because you requested a password reset for your user account at <b>Track My Thesis </b> Application .</p>

                <p>Please go to the following page and choose a new password:</p>
                {% block reset_link %}
                    {{ base_url }}{% url 'auth:password_reset_confirm' token=token %}
                {% endblock %}
                <p>Your username, in case you’ve forgotten: {{ user.username }}</p>

                <h3>Regards,</h3>
                <p>NOU Automated System</p>
                <p><a href="{{base_url}}" target="_blank">{{base_url}}</a></p>
            </div>
        
        <div id="footer" style=" background-color:azure; padding:10px; text-align: center; font-size: 15px;">
            <p>If you have any queries, please, reach us at : <a href="mailto:system@nou.edu.np">system@nou.edu.np</a> <b>OR</b> call us at: <a href="tel:9841197233"> 9841197233</a> </p>
        </div>
    </div>
</div>